<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/shop.css">
<head>
  <body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <h3>This is order page.</h3>
    </main>
  </body>
</head>
