.cart_list{
    border: 0;
    border-bottom: 1px solid;
}

.list_item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.list_item > img{
    width: 100px;
}

.total{
    width: fit-content;
    display: block;
    margin-left: auto;
    padding: 10px 0;
}